.liRepos{
    display: flex;
    width: 45%;
    height: 250px;
    flex-direction: column;
    padding: 28px;
    border: 1px solid var(--color-grey-6);
    border-radius: 12px;
    gap:12px;
    margin: 12px;
}

.liRepos:hover{
    cursor: pointer;
    border: 2px solid var(--color-grey-7);
    background-color: var(--color-grey-1);

}
