.main__section{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sectonProfile{
    width: 70%;
    margin-top: 50px;
}

.sectionError{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}